[user]
        name = Diogo Tridapalli
        email = XXX@XXXXX
[core]
        excludesfile = ~/.gitignore_global
[credential]
        helper = osxkeychain
[push]
        default = simple
[color]
        ui = true
[format]
        pretty = oneline
[mergetool "Kaleidoscope"]
        cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
        trustexitcode = true
[mergetool]
        prompt = false
[merge]
        tool = Kaleidoscope
[difftool "Kaleidoscope"]
        cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
        prompt = false
[diff]
        tool = Kaleidoscope
