[user]
        name = Diogo Tridapalli
        email = diogo@diogot.com
[core]
        excludesfile = $HOME/.gitignore_global
[credential]
        helper = osxkeychain
[push]
	default = simple
[color]
	ui = true
[mergetool "Kaleidoscope"]
        cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
        trustexitcode = true
[mergetool]
        prompt = false
[merge]
        tool = Kaleidoscope
[difftool "Kaleidoscope"]
        cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
        prompt = false
[diff]
        tool = Kaleidoscope
        
